<div class="usuario-form">
    <h1>Pefil</h1>
    <form id="form" name="form" [formGroup]="form">
        <div class="ui-g-12">
            <component-input-text id="usuario" label="Usuário"></component-input-text>
        </div>
        <div class="ui-g-12">
            <component-input-text id="email" label="Email"></component-input-text>
        </div>
        <div class="ui-g-12">
            <div *ngIf="isAdmin;else view">
                <component-select id="perfil" label="Nível de acesso" [options]="perfis" optionLabel="descricao"></component-select>
            </div>
            <ng-template #view>
                <label>Nível de acesso: </label>
                <label class="usuario-dado">{{model?.perfil.descricao}}</label>
            </ng-template>
        </div>
    </form>
</div>