<div class="ui-g-12 titulo">
    <span>Login</span>
</div>
<form [formGroup]="form" class="ui-g-12">

    <div class="field-login">
        <component-input-text id="usuario" label="Usuário"></component-input-text>
    </div>
    <div class="field-login">
        <component-input-password id="senha" label="Senha"></component-input-password>
    </div>

    <div class="login-button">
        <component-button id="login" theme="login" (click)="login()"></component-button>
    </div>

    <div class="">
        <a routerLink="signup" routerLinkActive="active">Não tem cadasto? Cadastre-se aqui</a>
    </div>

</form>