<div *ngIf="editor$ | async" class="adicionar">
    <component-button id="add" theme="add" (click)="onAdd($event)" ></component-button>
</div>

<div class="filtro">
    <div class="ui-g-12">
        <modelo-filter [ufs]="ufs$ | async" [tipos]="tiposDocumentos$ | async" (enter)="onSearch($event)" #filterForm></modelo-filter>
    </div>
    <div class="botao-filtro">
        <component-button id="reset" theme="reset" (click)="onReset($event)"></component-button>
        <component-button id="search" theme="search" (click)="onSearch($event)" ></component-button>
    </div>
</div>
<div class="listagem">
    <modelo-table id="tableModelos" [dataSource]="dataSource" (pageChanged)="onPageChanged($event)" (edit)="onEdit($event)" (remove)="onRemove($event)" (viewImage)="onViewImage($event)" [editor]="editor$ | async"></modelo-table>
</div>
<div *ngIf="displayImage">
    <component-image-dialog [(display)]="displayImage" [image]="urlImage | async"></component-image-dialog>
</div>
