<div *ngIf="(user$ | async) as user">
    <header class="fixed-top">
        <p-sidebar id="menu-sidebar" [(visible)]="display" [baseZIndex]="10000">
            <div>
                <h2 style="text-align: center;">Menu</h2>
            </div>
            <div class="left-menu">
                <p-menu [model]="itemsMenu"></p-menu>
            </div>
        
            <div class="fixed-top">
                <ap-loading></ap-loading>
                <ap-alert></ap-alert>
            </div>
        </p-sidebar>
        <div class="ui-g-10">
            <component-button id="header-button" styleClass="header-button" (click)="onClick()" icon="pi pi-bars"></component-button>
        </div>

        <div >
            <p-menubar [model]="items" styleClass="menu-bar"></p-menubar>
        </div>
    </header>
</div>