<!-- <div *ngIf="(user$ | async) as user"> -->
    <header class="fixed-top">
        <p-sidebar [(visible)]="display" [baseZIndex]="10000">
            <nav class="navbar navbar-light bg-white">
                <ul class="list-unstyled">
                        <ap-menu #menu>
                            <ul class="list-unstyled">
                                <li>
                                    <a showIfLogged [routerLink]="['p', 'add']">Upload</a>
                                </li>
                            </ul>
                        </ap-menu>
                    <div *ngIf="(user$ | async) as user; else login">
                        <!-- <i class="fa fa-user-circle mr-1"></i> -->
                        <li>
                            <a class="mr-3">{{ user.usuario }}</a>
                        </li>

                        <li>
                            <a class="clickable" (click)="logout()">Sair</a>
                        </li>
                    </div>
            
                    <ng-template #login>
                        <span class="navbar-text">
                            <a [routerLink]="['']">Please, login!</a>
                        </span>
                    </ng-template>
                </ul>
            </nav>
        
            <div class="fixed-top">
                <ap-loading></ap-loading>
                <ap-alert></ap-alert>
            </div>
        </p-sidebar>
        <button pButton style-class="" type="button" (click)="onClick()" icon="pi pi-bars"></button>
    </header>
<!-- </div> -->