<div id="error-404" fxLayout="column" fxLayoutAlign="center center">
    <div id="error-content" class="content" fxLayout="column" fxLayoutAlign="center center">
      <div id="error-code" class="error-code">404</div>
  
      <div id="error-message" class="message">Desculpe, mas não conseguimos encontrar a página que você estava procurando</div>
  
      <div id="search" class="search" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="icon s-24">search</mat-icon>
        <input placeholder="Procure por algo" fxFlex>
      </div>
  
      <a id="back-to-home" class="back-link" [routerLink]="'/pages/home'">Voltar a página inicial</a>
    </div>
  </div>