.table-list thead,
.table-list tbody,
.table-list tbody tr,
.table-list tbody td {
    border: 2px solid black;
}

.table-list thead > tr > th {
    background-color: #9DFCDF !important;
}

.ui-paginator,
.ui-paginator .ui-dropdown .ui-dropdown-trigger,
.ui-paginator .ui-dropdown .ui-dropdown-label {
    font-weight: bold;
    background-color: #9DFCDF !important;
}

.ui-paginator-bottom {
    border-left: 2px solid black !important;
    border-right: 2px solid black !important;
    border-bottom: 2px solid black !important;
}

.alertRegister {
    background: #ffd39b;
    border-left: 10px solid #fabb01;
    padding: 5px 15px;
}

.message {
    display: flex;
    align-items: center;
    i {
      width: 36px;
      height: 36px;
      background: whitesmoke;
      display: flex;
      align-items: center;
      justify-content: center;
      color: transparent;
      border-radius: 50px;
      margin-right: 15px;
    }
  }