<component-label [id]="id + '--label'" [target]="id + '--input'" [value]="label" [required]="control?.errors?.required"></component-label>

<p-dropdown
    [inputId]="id + '--input'"
    [selectId]="id + '--select'"
    [name]=name
    [formControlName]="formControlName"
    [options]="options"
    [showClear]="true"
    placeholder="Selecione"
    [optionLabel]="optionLabel"
    (onChange)="onChange($event)">
</p-dropdown>

<custom-error [id]="id + '--error'" [control]="control"></custom-error>