.row {
    margin-top: 10% !important;
    margin-left: 40% !important;
}

html, body {
    height: 100%;
    margin: 0;
}

.background {
    width: auto;
    height: 100%;
    overflow: auto;
    background-image: url(/assets/img/home.jpg);
    background-size: cover;

}

.titulo {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.right {
    float: right;
}

.botao-filtro {
    clear: left;
    margin-right: 10px;
    float: right;
    display: block;
}

#reset {
    margin-right: 10px;
}

#cancel {
    margin-right: 10px;
}

.listagem {
    margin-top: 3%;
}

.filtro {
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    border-color: darkgray;
    padding-bottom: 10px;
    margin-top: 1%;
}

.filtro::after {
    content: "";
    display: table;
    clear: both;
}

.adicionar {
    margin-left: 92%;
}

.content {
    width: 90%;
    margin-left: 5%;
    display: block;
}

.dropzone {
    text-align: center;
    margin: 0 auto;
    border-style: dotted;
}

.dropzone input {
    opacity: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.dropzone h3 {
    font-size: 20px;
}

.img-upload {
    max-width: 100%;
}

/* You can add global styles to this file, and also import other style files */
